<div class="row">
    <div class="col-sm-12 col-md-4">
        <h2>Nossos produtos</h2>
        <div class="list-group d-grid gap-2">
            @for (product of products; track product.id) {
                <button 
                    class="list-group-item list-group-item-action" 
                    (click)="selectProduct(product)">
                    {{ product.name }}
                </button>
            }
        </div>
    </div>
    <div class="col-sm-12 col-md-8">
        @if (selectedProduct) {
            <app-product-detail [product]="selectedProduct"></app-product-detail>
        } @else {
            <div class="alert alert-info mt-4">
                Selecione um produto para ver os detalhes
            </div>
        }
    </div>
</div>
